// Jade
.tdc-head
    .container
        .box
            .logga
                img.tdc_img(src="/assets/img/tdc.png", alt="TDC")
            .title DCO Besällnings-Portal
            .head_nav
                a.nav_entry.tdc_home(href="#") hem
                a.nav_entry.tdc_kst(href="#") kst
                a.nav_entry.tdc_nordic-it(href="#") nordic-it
                a.nav_entry.tdc_serviceavtal(href="#") serviceavtal
    