// SaSS
.tdc-head
    .container
        height: 400px
        position: relative
        background-color: red

    .box
        height: 72px
        position: absolute
        width: 960px
        left: 50%
        background-color: pink
        +transform(translate(-50%))
    .logga
        float: left
    .title
        float: left
    .head_nav
        float: right
        
        